*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/greyzz.png");
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100vw;
    height: 80px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    background-color:white;
    box-shadow: 4px 7px 38px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 7px 38px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 38px -27px rgba(0,0,0,0.75);
    z-index: 100;
    position: fixed;
}
.logo{
    height: 70px;
}
.left-sidebar{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.menu>span{
    padding: 10px;
}
.menu>span>a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.right-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    margin-right: 30px;
    border: 1px solid black;
}
.search-bar>input,a{
    padding: 10px;
    border:none;
    outline: none;
}
.icon>span{
    padding: 20px;
    font-size: 1.75rem;
}
.icon>span>a{
    color: black;
}
/* =================style the main page===================== */
#container{
    width: 92vw;
    position:relative;
    left:4%;
    top: 10%;
   
}
/* ==============section1==================================== */

.slides{
    display: none
}
.slides>img{
    cursor: pointer;
}
.slide-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: gray;
    font-weight: bold;
    font-size: 1.75rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.582);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: gray;
    color: white;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
   
.active, .dot:hover {
    background-color:black;
}



/* ====footer==================================== */
.footer{
    margin-top: 9rem;
    padding: 1.25rem;
    width: 100%;
    background-color:#F4F4F4;
}
.footer>h3{
    padding:0px 0px 30px 50px;
}
.footer-wrap{
    display: flex;
    background-color:#F4F4F4;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.75rem;
}
.footer-wrap>div{
    width: 18%;
    min-width: 250px;
}
.footer-wrap>div>h3{
    margin-bottom: 1.25rem;
    padding-left: 0.75rem;
}
.footer-wrap>div>p{
    margin-bottom: 1.25rem;
    padding-left: 0.75rem;
    line-height: 1.45rem;
}
#E-news>a{
    color: black;
    font-weight: bold;
    font-size: 0.95rem;
}
#uniqlo-icon{
    width: 22%;
}
#uniqlo-icon>div{
    margin-left: 0.75rem;
}
#uniqlo-icon>div>i{
    font-size: 2.75rem;
    color: gray;
    margin-right: 1.25rem;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    padding:1.25rem;
    color: gray;
}
.footer-bottom a{
    color: gray;
}
.red-icon{
    color: red;
}